.inline {
    display: inline;
}
.text-large {
    font-size: 200%;
}
.whitespace-preserve {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.whitespace-wrap {
    white-space: normal;
    word-wrap: break-word;
}
.overflow-ellipsis {
    text-overflow: ellipsis;
}
.no-margin {
    margin: 0;
}
.has-tooltip {
    cursor: help;
}