{% extends "base.html" %}

{% block title %}~{{ user.get_user_name() }} - Nanibgal{% endblock %}

{% block body %}

{%- if user.is_banned() and (not current_user.is_authenticated or not current_user.has_admin_rights()) %}
<h1>{{ lang.tr('profile.userhasbeenbanned.title') }}</h1>
<p>{{ lang.tr('profile.userhasbeenbanned') }}</p>
{%- else %}
<div class="clearfix">
<h1 class="float-left">{{ user.get_display_name() }}</h1>
<h4 class="text-muted float-md-right">~{{ user.get_user_name() }}</h4>
</div>
{%- if current_user.is_authenticated and not user.get_id() == current_user.get_id() %}
{%- if current_user.has_admin_rights() %}
<form class="inline" action="{{ url_for('route_toggle_ban') }}" method="POST"><input type="hidden" name="uid" value="{{ user.get_id() }}" />
<span class="fa fa-ban" aria-hidden="true"></span> <a href="javascript:void(0)" onclick="this.parentNode.submit()">{{ lang.tr('profile.unban' if user.is_banned() else 'profile.ban') }}</a></form>
{%- if user.is_banned() %}
&middot;
<b>{{ lang.tr('profile.banned') }}</b>
{%- endif %}
&middot;
{%- endif %}
{%- if user.are_messages_private() %}
<b>{{ lang.tr('profile.private') }}</b>
&middot;
{%- endif %}
<form class="inline" action="{{ url_for('route_toggle_follow') }}" method="POST"><input type="hidden" name="uid" value="{{ user.get_id() }}" />
{%- if current_user.is_following_id(user.get_id()) %}
<span class="fa fa-minus" aria-hidden="true"></span> <a href="javascript:void(0)" onclick="this.parentNode.submit()">{{ lang.tr('profile.unfollow') }}</a></form>
{%- else %}
<span class="fa fa-plus" aria-hidden="true"></span> <a href="javascript:void(0)" onclick="this.parentNode.submit()">{{ lang.tr('profile.follow') }}</a></form>
{%- endif %}
&middot;
<span class="fa fa-flag" aria-hidden="true"></span> <a href="{{ url_for('route_report_user') }}?uid={{ user.get_id() }}">{{ lang.tr('profile.report') }}</a>
{%- endif %}
<div>
<p class="font-italic pre-wrap">{{ user.get_user_bio() }}</p>
</div>
<div class="list-group {{ (not msgs) and 'list-group-flush' or '' }}">
{% for msg in msgs %}
{{ render_message(msg['msg'], has_liked = msg['has_liked'], likes = msg['likes'], replies = msg['replies'], disable_user_link = True) | safe }}
{% endfor %}
{% if not msgs %}
{%- if user.are_messages_private() %}
<li class="list-group-item">{{ lang.tr('profile.messages_private') }}</li>
{%- else %}
<li class="list-group-item">{{ lang.tr('profile.nomessages') }}</li>
{%- endif %}
{% endif %}
</div>
{%- endif %}
{% endblock %}