{% extends "base.html" %}

{% block title %}{{ lang.tr('settings.title') }} - Nanibgal{% endblock %}

{% block toplinks %}
{% endblock %}

{% block body %}
{% set nosuccess = false %}
{% if error is not none %}
<div class="error">{{ error }}</div>
{% endif %}
{% for error in form.oldpassword.errors %}
<div class="error">{{ error }}</div>
{% set nosuccess = true %}
{% endfor %}
{% for error in form.password.errors %}
<div class="error">{{ error }}</div>
{% set nosuccess = true %}
{% endfor %}
{% for error in form.verify.errors %}
<div class="error">{{ error }}</div>
{% set nosuccess = true %}
{% endfor %}
{% if success and not nosuccess %}
<div class="success">{{ lang.tr('settings.success') }}</div>
{% endif %}
<form method="POST" action="{{ url_for('route_settings') }}">
    <table>
        <tr>
            <td>
                {{ form.oldpassword.label }}
            </td>
            <td>
                {{ form.oldpassword(required=True, maxlength=256, pattern=".{,256}") }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br />
            </td>
        </tr>
        <tr>
            <td>
                {{ form.displayname.label }}
            </td>
            <td>
                {{ form.displayname(required=True, minlength=1, maxlength=64, pattern=".{1,64}") }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br />
            </td>
        </tr>
        <tr>
            <td>
                {{ form.password.label }}
            </td>
            <td>
                {{ form.password(minlength=8, maxlength=256, pattern=".{8,256}") }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.verify.label }}
            </td>
            <td>
                {{ form.verify(minlength=8, maxlength=256, pattern=".{8,256}") }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br />
            </td>
        </tr>
        <tr>
            <td>
                {{ form.privatemessages.label }}
            </td>
            <td>
                {{ form.privatemessages }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.privatefollows.label }}
            </td>
            <td>
                {{ form.privatefollows }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="{{ lang.tr('settings.save') }}" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="warning">{{ lang.tr('settings.deletewarning') }}</div>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.deleteaccount.label }}
            </td>
            <td>
                {{ form.deleteaccount(maxlength=32, pattern=".{,32}") }}
            </td>
        </tr>
    </table>
</form>
{% endblock %}