{% extends "base.html" %}

{% block title %}{{ lang.tr('admin.userreports.title') }} - Nanibgal{% endblock %}

{% block body %}
<h1>{{ lang.tr('admin.userreports.title') }}</h1>
<div class="list-group list-group-flush">
{%- if prev_page %}
<li class="list-group-item list-group-item-secondary"><a href="{{ url_for('route_admin_userreports') + '?b={}'.format(prev_page) }}"><span class="fa fa-chevron-left" aria-hidden="true"></span> {{ lang.tr('feed.prevpage') }}</a></li>
{%- elif has_before %}
<li class="list-group-item list-group-item-secondary"><a href="{{ url_for('route_admin_userreports') }}"><span class="fa fa-refresh" aria-hidden="true"></span> {{ lang.tr('feed.viewnewest') }}</a></li>
{%- endif %}
{%- for report in reports %}
{{ render_report(report) | safe }}
{%- endfor %}
{%- if not reports %}
<li class="list-group-item">{{ lang.tr('admin.noreports') }}</li>
{%- endif %}
{%- if next_page %}
<li class="list-group-item list-group-item-secondary"><a id="next-page-button" href="{{ url_for('route_admin_userreports') + '?a={}'.format(next_page) }}">{{ lang.tr('feed.nextpage') }} <span class="fa fa-chevron-right" aria-hidden="true"></span></a></li>
<li class="list-group-item list-group-item-secondary load-more-button"><a id="load-more-button" href="javascript:void(0)" data-source="{{ url_for('route_admin_userreports') + '?a={}'.format(next_page) }}"><span class="fa fa-chevron-down" aria-hidden="true"></span> {{ lang.tr('feed.loadmore') }}</a></li>
{%- endif %}
</div>
{% endblock %}